.basicInfo {
  padding: 10px;

  .label {
    width: 80px;
    display: inline-block;
    text-align: right;
  }
}

.basicInfoWrap {
  width: 900px;
}

.address {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 800px;
  min-height: 200px;

  .field {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
  }

  .label {
    width: 120px; /* 可以适当调整宽度 */
    font-weight: bold;
    color: #333;
    text-align: right;
    margin-right: 15px;
    line-height: 1.5;
  }

  p {
    margin: 0;
    line-height: 1.5;
    color: #666;
  }

  /* 默认地址高亮红色 */
  .field p {
    color: #e2231a; /* 默认地址使用红色 */
  }

  .field p:empty {
    color: #888; /* 如果没有值，显示灰色 */
  }

  /* Optional: Add responsiveness */
  @media (max-width: 768px) {
    .wrap {
      padding: 15px;
    }

    .field {
      flex-direction: column;
      align-items: flex-start;
    }

    .label {
      width: auto;
      margin-bottom: 5px;
    }
  }

  .editButtonWrapper,
  .deleteButtonWrapper {
    text-align: center; /* Center the button */
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .deleteButtonWrapper {
    top: 180px;
  }

  .editButton,
  .deleteButton {
    // background-color: #e2231a;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #e2231a;
    // transition: background-color 0.3s;
  }

  .editButton:hover {
    background-color: #c21a17;
    color: #fff;
  }
}

.order {
  padding: 20px;
  .condition {
    span {
      margin-right: 20px;
      &:hover {
        cursor: pointer;
        color: #e2231a;
      }
    }
    .is-active {
      color: #e2231a;
      font-weight: 700;
      border-bottom: 2px solid #e2231a;
    }
  }
  table {
    width: 900px;
    border-collapse: collapse;
    margin-top: 20px;
    .table-header {
      border: 1px solid #e5e5e5;
      background-color: #f5f5f5;
      height: 35px;
      th:first-child {
        width: 500px;
      }
      th:not(:first-child) {
        width: 100px;
      }
    }
    .order-info {
      // border:1px solid #e5e5e5;
      .blank-tr {
        height: 20px;
      }
      .info-header {
        background-color: #f5f5f5;
        height: 30px;
        border: 1px solid #e5e5e5;
        color: #aaa;
        .order-num {
          span {
            margin-left: 30px;
          }
          b {
            color: #333;
          }
        }
        .img-td {
          text-align: right;
          padding-right: 45px;
          img {
            width: 15px;
            &:hover {
              cursor: pointer;
              content: url('@/assets/images/profile/delete-red.png');
            }
          }
        }
      }
      .info-detail {
        border: 1px solid #e5e5e5;
        .goods-detail {
          border: 1px solid #e5e5e5;
          a {
            img {
              width: 60px;
              height: 60px;
              margin-left: 10px;
            }
            div {
              margin-left: 10px;
              width: 300px;
              padding-top: 15px;
              span {
              }
            }
          }
          .goods-num {
            padding-top: 15px;
            margin-left: 70px;
          }
        }
        td {
          text-align: center;
          border: 1px solid #e5e5e5;
        }
        .order-action {
          display: inline-block;
          border: 1px solid #ddd;
          background-color: #f5f5f5;
          width: 90px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          &:hover {
            cursor: pointer;
            border: 1px solid #e2231a;
            color: #e2231a;
          }
        }
      }
    }
  }
}
